<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/f23dacdb-e86d-48ea-a877-67ae30a46a99/resourceGroups/RG_BetOrWait/providers/Microsoft.ContainerRegistry/registries/BetOrWaitFA</ResourceId>
    <ResourceName>BetOrWaitFA</ResourceName>
    <ResourceGroup>RG_BetOrWait</ResourceGroup>
    <Subscription>VSES-ROH1</Subscription>
    <RegistryUrl>https://betorwaitfa.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <_TargetId>AzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>